# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Unity Game Developer Game Demo.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Uni and personal work\Unity Games\Unity Game Developer Game Demo\.idea\.idea.Unity Game Developer Game Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
